html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    margin: 0;
    padding: 0;
    background: rgb(50, 50, 50);
}
#titlebar {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100vh;
    height: 40px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;
}